@use 'base/variables' as v;
@use 'base/mixins' as m;


.contact{
  h1{
    font-size: 5rem;
  }
}

.row{
  display: grid;
  grid-template-columns: 1fr 2fr;

  @include m.mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact-left{
  @include m.mobile{
    width: 95%;
    border: solid 1px white;
  }
  p{
    margin-top: 2rem;
    font-size: 1.5rem;

    i{
      color: v.$red;
      margin-right: 1.5rem;
      font-size: 2.5rem;
    }
  }

  .social-icons{
    margin-top: 3rem;

    a{
      text-decoration: none;
      font-size: 3rem;
      margin-right: 1.5rem;
      color: v.$gray;
      display: inline-block;
      transition: transform 0.5s;

      &:hover{
        color: v.$red;
        transform: translateY(-0.5rem);
      }
    }
  }

  .btn2{
    display: inline-block;
    background-color: v.$red;
    @include m.mobile{
      display: flex;
    }
  }
}

.contact-right{
  //flex-basis: 60%;
  @include m.mobile{
    width: 95%;
    border: solid 1px yellow;
  }

  form{
    width: 100%;

    input, textarea{
      width: 100%;
      border: 0;
      outline: none;
      background-color: v.$gray2;
      padding: 1.5rem;
      margin: 1.5rem 0;
      color: v.$white;
      font-size: 1.8rem;
      border-radius: 0.6rem;
    }
  }

  .btn2{
    display: inline-block;
    background-color: v.$red;
    padding: 1.4rem 6rem;
    margin-top: 2rem;
    cursor: pointer;
    @include m.mobile{
      display: flex;
    }
  }
}