@use 'base/variables' as v;
@use 'base/mixins' as m;

/* NAVIGATION */

.header{
  position: sticky;
  top: 0;
  z-index: 3;
  //border: solid 1px green;
}


.container {
  padding: 3rem 6%;
  z-index: 2;
  @include m.mobile{
    padding: 3rem 4%;
  }
}

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.8rem 6%;
    border-radius: 0 0 1.3rem 1.3rem;
    background-color: v.$black1;
    box-shadow: 0rem 0.5rem 1.5rem v.$gray2;
    border: solid 1px v.$gray2;

    @include m.tablet{
      flex-direction: column;
      justify-content: center;
      padding: 2rem 4%;
      //border: solid 1px blue;
    }
    @include m.mobile{
      flex-direction: column;
      padding: 1.5rem 4%;
      border-radius: 0;
      border: solid 1px blue;
    }

    .header-nav::after{
      background-color: v.$black1;
    }

    .nav{
      @include m.mobile{
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0.3s, opacity 0.5s;
      }
    }

    .active-mobile{/* MOBILE MENU CONTENT */
      @include m.mobile{
        visibility: visible;
        opacity: 1;
        border: solid 3px orange;
      }
    }

    .nav.active-mobile{
      height: 100%;
      
    }

    .image-logo-name { /* IMAGE LOGO NAME */
      img{
        background-color: v.$black1;
        width: 20rem;     
        @include m.tablet{
          width: 15rem;
          align-items: center;
          border: solid 1px v.$white;
        }
        @include m.mobile{
          width: 13rem;
          border: solid 1px v.$white;
        }
      }
    }
  }
  
  .mobile-menu{ /* MOBILE MENU IMAGE*/
    i{ 
      visibility: hidden;
      @include m.mobile{
        visibility: visible;
        font-size: 2.8rem;
      }
    } 
  }

.nav li {
  list-style: none;
  display: inline-block;
  margin: 1rem 2rem;
  

  @include m.tablet{
    margin: 1rem 1rem;
    border: solid 1px green;
  }

  @include m.mobile{
    display: block;
    margin: 1rem 1rem;
    text-align: center;
    border: solid 1px green;
    
  }
 
  a{
    color: v.$white;
    font-size: 1.8rem;
    position: relative;

    @include m.tablet{
      font-size: 1.5rem;
    }
  }
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: .3rem;
  background-color: v.$red;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%
}

/* HEADER */

.header-container{
  @include m.mobile{
    display: flex;
    padding: 0 6%;
    flex-direction: column-reverse;
    justify-content:space-between;
    width: auto;
    border: solid 1px v.$white;
  }
}

.header-image {

  img{ /* BACKGROUND IMAGE */ 
    width: 50%;
    height: 50%;
    display: block;
    background-size:cover;
    background-position-x: right;
    margin: 0 0 0 auto;

    @include m.mobile{
      width: 80%;
      height: 80%;
      margin: auto;
      border: solid 2px v.$white;
    }
  }
}

/* HEADER TEXT */
.header-text{
  margin-top: 15%;
  width: 55%;
  margin-left: 4%;
  font-size: 2.5rem;
  position: absolute;
  
  @include m.mobile{
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-left: 0;
    font-size: 2rem;
    border: solid 2px v.$white;
  }

  @include m.tablet{
    margin-top: 7%;
    font-size: 2rem;

  }

  h1 {
    margin-top: 2rem;
    font-size: 5.5rem;

    @include m.mobile{
      font-size: 3.5rem;
    }
    @include m.tablet{
      font-size: 3.7rem;
      
    }

    span {
      color: v.$red;
    }
  }
}
