@use 'base/variables' as v;
@use 'base/mixins' as m;

.services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-top: 5rem;
  transition: 0.5s;
  .service:hover{
    transform: translateY(-1rem);
    @include m.tablet{
      transform: none;
    }
  }
  @include m.tablet{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  
  @include m.mobile{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 3rem 0 3rem;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
  }

  .service{
    background-color: v.$gray2;
    padding: 4rem;
    font-size: 1.2rem;
    font-weight: v.$delgada;
    border-radius: 1rem;
    transition: transform 0.5s;
    @include m.tablet{
      padding: 4rem 4rem 0 4rem;
    }
    @include m.mobile{
      padding: 1.5rem;
      margin: 1rem 0;
      width: 95vw;
      height: 25rem;
      scroll-snap-align: center;
      object-fit: contain;
      transition: none;
    }    

    &__h2{
      font-size: 3rem;
      font-weight: v.$bold;
      margin-bottom: 1.5rem;
      @include m.mobile{
        display: inline;
        font-size: 1.8rem;
      }
    }

    &__icon{
      font-size: 5rem;
      margin-bottom: 3rem;
      @include m.mobile{
        display: inline;
        margin-right: 0.5rem;
        font-size: 4rem;
      }
    }

    &__p{
      font-size: 1.6rem;
      visibility: hidden;
      opacity: 0;
      @include m.tablet{
        visibility: visible;
        font-size: 1.6rem;
        margin-top: 2rem;
        opacity: 1;
        text-align: justify;
      }
      @include m.mobile{
        font-size: 1.3rem;
      }
    }

    &__b{
      font-weight: 600;
    }

    &__icon2{
      visibility: hidden;
      opacity: 0;
      font-size: 6rem;
      padding: 1rem;
      margin: 1rem;
      color: v.$red;
      @include m.tablet{
        visibility: visible;
        opacity: 1;
      }
      @include m.mobile{
        margin: 0.8rem;
        font-size: 4rem;
      }
    }
  }
}

@include m.desktop{
  :where(.service__front, .service__back, .service__prep) {
    height: 35rem;
    transition: 10s;
  }

//  FRONTEND
  .service__front--active{
    grid-template-columns: 2fr 0.5fr 0.5fr;
    gap: 1rem;
    
    
    

    .service__front{
      .service__icon2, .service__p{
        opacity: 1;
        visibility: visible;
        transition: visibility 1s, opacity 3s;
      }
    }

    .service__back, .service__prep{
      .service__h2{
        font-size: 1.5rem;
      }
    }
  }

  //  BACKEND
  .service__back--active{
    grid-template-columns: 0.5fr 2fr 0.5fr;
    gap: 1rem;

    .service__back{
      .service__icon2, .service__p{
        opacity: 1;
        visibility: visible;
        transition: visibility 1s, opacity 3s;
      }
    }

    .service__front, .service__prep{
      .service__h2{
        font-size: 1.5rem;
      }
    }
  }

  //  PREPROCESSORS AND TOOLS
  .service__prep--active{
    grid-template-columns: 0.5fr 0.5fr 2fr;
    gap: 1rem;

    .service__prep{
      .service__icon2, .service__p{
        opacity: 1;
        visibility: visible;
        transition: visibility 1s, opacity 3s;
      }
      .service__p{
        font-size: 1.5rem;
      }
    }

    .service__front, .service__back{
      .service__h2{
        font-size: 1.5rem;
      }
    }
  }
}

