@use 'base/variables' as v;
@use 'base/mixins' as m;

.services{
  padding: 3rem 0;

  h1{
    font-size: 5rem;
  }
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4rem;
  margin-top: 5rem;

  div:hover{
    background-color: v.$red;
    transform: translateY(-1rem);
  }

  div{
    background-color: v.$gray2;
    padding: 4rem;
    font-size: 1.3rem;
    font-weight: v.$delgada;
    border-radius: 1rem;
    transition: background 0.5s, transform 0.5s;

    h2{
      font-size: 3rem;
      font-weight: v.$bold;
      margin-bottom: 1.5rem;
    }

    i{
      font-size: 5rem;
      margin-bottom: 3rem;
    }

    a{
      color: v.$white;
      font-size: 1.2rem;
      margin-top: 2rem;
      display: inline-block;
    }
  }

    
}